﻿﻿@model cumulative1assign.Models.Teacher
    @{
        ViewBag.Title = "Show";
    }

   <h2>Show Teacher</h2>

<div class="container-show">
    <nav>
        <a class="btn btn-default navlink" href="/Teacher/List">Back to Teachers</a>
        <a class="btn btn-danger float-right" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
        <a href="/Teacher/Update/@Model.TeacherId" >Update</a>
    </nav>
    <h3>@Model.TeacherFname @Model.TeacherLname</h3>
    <h4>His employee number is @Model.EmployeeNumber and hired on @Model.HireDate</h4>
    <h5>Salary : @Model.Salary</h5>
</div>

<style>
    .float-right {
        float: right;
    }
</style>

